xml/src/test/resources/note.v2.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="note" type="noteType"/>

  <xs:complexType name="noteType">
    <xs:sequence>
      <!--
        Attribute "minOccurs" is not set. Default value is "1".

        Attribute "maxOccurs" is not set. Default value is "1". Set
        to "unbounded" so that the max occurs is not bounded.
       -->
      <xs:element name="to" type="xs:string"/>
      <xs:element name="from" type="xs:string"/>
      <xs:element name="heading" type="xs:string"/>
      <xs:element name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
